{
  "option_settings": {
    "aws:elasticbeanstalk:application:environment": {
      "NODE_ENV": "production",
      "products": "https://x9ktsvx5ba.execute-api.eu-west-1.amazonaws.com/dev",
      "profile": "http://andreys55-cart-api-dev.eu-west-1.elasticbeanstalk.com/api",
      "auth": "http://andreys55-cart-api-dev.eu-west-1.elasticbeanstalk.com/api"
    }
  }
}
